.modal {
  /* border: 2px solid #000; */
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 375px;
}

.button:focus {
  outline: 1px solid #000;
}